 :root {
   --bg: url('./120854122_p0.jpg')
     /* --bg: url('https://api.imlazy.ink/img'); */
     /* --bg: url('https://s1.imlazy.ink:233/img/background/104923272_p0.jpg'); */
 }

 * {
   padding: 0;
   margin: 0;
   font-family: PingFang SC, MiSans, MIUI, Helvetica, Helvetica Neue, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
 }

 *::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }

 *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   box-shadow: inset 0 0 5px #45454515;
   background: rgba(255, 255, 255, 0.548);
 }

 *::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px #3131310a;
   border-radius: 4px;
   background: rgba(255, 255, 255, .3);
 }

 .abg {
   background-image: linear-gradient(135deg, rgb(48 48 48), rgb(8 8 8 / 50%) 100%), var(--bg);
   /* background-image: linear-gradient(135deg, rgb(48 48 48), rgb(8 8 8 / 50%) 100%), url(https://s1.imlazy.ink:233/img/background/114546200_p0.png); */
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   filter: var(--bg-filter, 'blur(0px)');
   min-width: 100%;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: -1;
 }

 @media(prefers-color-scheme: dark) {}

 body {
   color: #fff;
   background: #000000;
 }

 tag {
   font-family: monospace;
   background-color: rgb(3, 162, 236);
   color: aliceblue;
   padding: 4px 8px;
 }

 .tag-suc {
   background-color: #35c549;
 }

 .tag-gray {
   background-color: rgb(141, 141, 141);
   color: antiquewhite;
 }

 .flex-center {
   display: flex;
   justify-content: space-between;
   align-items: center
 }

 .btn {
   background: #cb7676;
   padding: 6px 16px;
   cursor: pointer;
   border: 0;
   color: #fffdfa;
 }

 .btn-next {
   background: #35ac5d;
 }

 .btn-warn {
   background: #d29230;
 }

 .btn[disabled] {
   cursor: not-allowed;
   filter: contrast(0.5);
 }

 .lrc {
   filter: opacity(0.5);
   transition: all 0.5s;
   line-height: 1.5;
   max-height: 3em;
   overflow: hidden;
 }

 .lrc:last-child {
   padding-bottom: 50svh;
 }

 .lrc-highlight {
   color: transparent;
   background: linear-gradient(to bottom, #00beff, #24ffba);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   text-shadow: 0px 0px 10px #94ffe2;
   font-size: 1.6rem;
   filter: unset;
   font-weight: 500;
   padding: 0.5rem 0;
 }

 .cur-s-name {
   font-size: 1.5rem;
   line-height: 1.5rem;
   color: transparent;
   background: linear-gradient(45deg, #3cbdff, #ffd527);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   text-shadow: 0px 0px 10px #3d3d3da8;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-bottom: 5px;
 }

 .cur-s-name img {
   margin-bottom: 5px;
 }

 .cur-s-name small {
   font-size: 16px;
   background: linear-gradient(45deg, #ffc310, #ff5815);
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
 }

 .cur-p-highlight {
   background: rgba(255, 255, 255, .3);
 }