<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="referer" content="no-referrer">
  <title>Uwu Player</title>
  <link
    href="https://font.sec.miui.com/font/css?family=MiSans:100,200,300,400,500,600,700,800,900:Chinese_Simplify,Chinese_Traditional&amp;display=swap"
    rel="stylesheet" as="style">
  <link rel="stylesheet/less" type="text/css" href="./css/player.less">
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/less.js/4.1.2/less.min.js"
    type="application/javascript"></script>
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.prod.min.js"
    type="application/javascript"></script>
  <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js"
    type="application/javascript"></script>
</head>

<body>
  <div class="abg"></div>
  <div id="app">
    <header class="flex-center">
      <h1>UwU Player</h1>
      <div class="flex-center">
        <span>当前一共 {{ songList.length}} 首歌曲</span>
        <div style="margin-left: 15px;">
          <label>
            <input type="checkbox" v-model="isRandom"> 随机播放
          </label>
          <label>
            <input type="checkbox" v-model="autoNext"> 自动下一首
          </label>

          <button v-if="curPlay.name" class="btn btn-warn" style="margin-left: 10px;" @click="stopSong">停止 🛑</button>
          <button class="btn btn-next" style="margin-left: 10px;" @click="nextSong(true)">下一首 →</button>
        </div>
      </div>
    </header>

    <main>
      <div class="left">
        <ul>
          <li v-for="song in songList" :key="song.fullName"
            :class="{'cur-p-highlight': curPlay.fullName === song.fullName}">
            <div class="flex-center">
              <span>{{ song.artist }} - {{ song.name }}</span>
              <div class="flex-center" style="min-width: max-content">

                <tag :class="{'tag-gray' : song.type === 'mp3'}">{{
                  song.type
                  }}</tag>

                <button title="分享链接" class="mx-10" @click="copyLink(song)">🔗</button>

                <button :disabled="curPlay.fullName === song.fullName" class="btn" @click="playSong(song)">播放
                  ▶️</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="right">
        <div v-if="curPlay.name" class="cur-s-name" :title="curPlay.fullName">
          <img :src="pic" :title="curPlay.name" width="130">

          <p>{{curPlay.name }}</p>
          <small>{{curPlay.artist}}</small>
        </div>
        <p v-else>暂无歌曲播放</p>

        <div v-if="currentLyrics.length" class="lyrics">
          <div v-for="(lyric, index) in currentLyrics" :key="index"
            :class="currentLyricIndex === index ?'lrc-highlight': 'lrc'">
            {{ lyric.text }}
          </div>
        </div>
      </div>
    </main>

    <audio ref="audioPlayer" controls autoplay @ended="nextSong"></audio>
  </div>

  <script>
    const TITLE = 'Uwu Player';
    const BG = 'https://api.imlazy.ink/img';
    const QM_URL = 'https://s1.imlazy.ink:233/qm/soso/fcgi-bin/client_search_cp';
    const app = Vue.createApp({
      data() {
        return {
          songList: [],
          curPlay: {
            name: '',
            artist: ''
          },
          pic: 'https://imge.kugou.com/stdmusic/',
          currentLyrics: [],
          currentLyricIndex: -1,
          isRandom: false,
          autoNext: true,
        };
      },
      watch: {
        isRandom: {
          handler(value) {
            localStorage.setItem('isRandom', value)
          },
        },
        autoNext: {
          handler(value) {
            localStorage.setItem('autoNext', value)
          },
        }
      },
      methods: {
        async playSong(song) {
          this.currentLyrics = []
          this.$refs.audioPlayer.src = `/mp3/${encodeURIComponent(`${song.fullName}.${song.type}`)}`;
          this.curPlay = song;

          document.title = song.fullName;

          this.$nextTick(() => {
            const curPlayEle = document.querySelector('.cur-p-highlight');
            if (curPlayEle) {
              curPlayEle.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
          });

          this.getMusicPic().then(() => this.updateNotificationIcon(song))

          try {
            const { data: lrc } = await axios.get(`/mp3/${encodeURIComponent(song.fullName)}.lrc`);
            this.currentLyrics = this.parseLrc(lrc);
            this.currentLyricIndex = 0; // 重置当前歌词索引
            this.updateCurrentLyric(); // 更新当前歌词

          } catch (err) {
            console.error('歌词加载错误：', err);
          }
        },

        updateNotificationIcon(song) {
          // 更新通知栏图标
          if ('mediaSession' in navigator) {
            navigator.mediaSession.metadata = new MediaMetadata({
              title: song.name,
              artist: song.artist,
              album: TITLE,
              artwork: [
                { src: this.pic.includes('kugou') ? BG : this.pic, sizes: '300x300', type: 'image/jpeg' }
              ]
            });
          }
        },

        stopSong() {
          this.$refs.audioPlayer.src = ''
          this.curPlay = {
            name: '',
            artist: ''
          }
          this.currentLyrics = []
          this.resetBg()
          document.title = TITLE
          this.updateNotificationIcon({
            artist: '未播放',
            icon: BG
          })
        },

        updateCurrentLyric() {
          const audio = this.$refs.audioPlayer;
          audio.ontimeupdate = () => {
            const currentTime = audio.currentTime;
            this.currentLyricIndex = this.currentLyrics.findIndex(lyric => lyric.time > currentTime) - 1;

            // 双语歌词
            // if(this.currentLyrics[this.currentLyricIndex].time ===this.currentLyrics[this.currentLyricIndex -1].time) this.currentLyricIndex--

            // 自动滚动到高亮歌词
            const highlightedLyric = document.querySelector('.lrc-highlight');
            if (highlightedLyric) {
              highlightedLyric.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
          };
        },

        async fetchSongList() {
          try {
            const { data: songList } = await axios.get('/mp3/songList.json', {
              params: {
                _t: Date.now()
              }
            });
            this.songList = songList;
          } catch (error) {
            console.error(error);
          }
        },

        parseLrc(lrcContent) {
          const lines = lrcContent.split('\n');
          const lyrics = [];
          lines.forEach(line => {
            const match = line.match(/\[(\d{2}):(\d{2}\.\d{1,9})\](.*)/);

            if (match) {
              const minutes = parseInt(match[1], 10);
              const seconds = parseFloat(match[2]);
              const time = minutes * 60 + seconds; // 转换为秒
              const text = match[3].trim();
              lyrics.push({ time, text });
            }
          });

          return lyrics;
        },

        nextSong(force = false) {
          if (this.isRandom) return this.playRandomSong()
          if (typeof force !== 'boolean') force = false
          if (!this.autoNext && !force) return;
          this.currentLyrics = []
          const nextIndex = this.songList.findIndex((i) => i.name === this.curPlay.name);
          const nextSong = this.songList[nextIndex + 1];
          this.playSong(nextSong);
        },

        playRandomSong() {
          const randomIndex = Math.floor(Math.random() * this.songList.length);
          const randomSong = this.songList[randomIndex];
          this.playSong(randomSong);
        },

        copyLink(song) {
          const songLink = `${window.location.origin}${window.location.pathname}?s=${encodeURIComponent(song.fullName)}`;
          navigator.clipboard.writeText(songLink).then(() => {
            alert('分享链接已复制到剪切板');
          }).catch(err => {
            alert('复制失败:', err);
          });
        },

        checkShare() {
          const s = location.search.split('?s=')[1]
          if (!s) return;
          if (!this.songList.length) return;
          const i = this.songList.findIndex(i => encodeURIComponent(i.fullName) === (s))
          if (i) return this.playSong(this.songList[i])
        },

        async getMusicPic() {
          try {
            const { data: d } = await axios.get(QM_URL, {
              params: {
                _t: Date.now(),
                p: 1,
                n: 50,
                format: 'json',
                w: this.curPlay.name
              }
            });
            const data = d.data;

            const l = data.song.list
            let bg = 'https://api.imlazy.ink/img/';
            if (l.length) {

              const a = l.find(s => {
                const b = s.singer.filter(n => (n.name.includes(this.curPlay.artist) || this.curPlay.artist.includes(n.name)))
                if (!b.length) return false
                else return b[0].name.includes(this.curPlay.artist) || this.curPlay.artist.includes(b[0].name)
              })

              if (!a || !a.albummid) return this.resetBg()

              bg = this.pic = `http://y.gtimg.cn/music/photo_new/T002R300x300M000${a.albummid}_1.jpg`;

              document.documentElement.style.setProperty('--bg', `url(${bg})`);
              document.documentElement.style.setProperty('--bg-filter', 'blur(20px)');
            } else {
              this.resetBg()
            }
          } catch (error) {
            console.error(error);
          }
        },

        resetBg() {
          this.pic = 'https://imge.kugou.com/stdmusic/'
          document.documentElement.style.setProperty('--bg', `url(${BG})`);
          document.documentElement.style.removeProperty('--bg-filter');
        }
      },
      async mounted() {
        await this.fetchSongList();
        this.checkShare();
        this.isRandom = localStorage.getItem('isRandom') === 'true'
        this.autoNext = localStorage.getItem('autoNext') ?? true

        if ('mediaSession' in navigator) {
          navigator.mediaSession.metadata = new MediaMetadata({
            title: TITLE,
            artist: window.location.hostname,
            album: TITLE,
            artwork: [
              { src: BG, type: 'image/jpeg' }
            ]
          });

          navigator.mediaSession.setActionHandler('play', () => {
            this.$refs.audioPlayer.play();
          });

          navigator.mediaSession.setActionHandler('pause', () => {
            this.$refs.audioPlayer.pause();
          });

          // navigator.mediaSession.setActionHandler('previoustrack', () => {
          //   // TODO: 上一首
          // });

          navigator.mediaSession.setActionHandler('nexttrack', () => {
            this.nextSong(true);
          });
        }

      }
    });

    app.mount('#app');
  </script>
</body>

</html>